// SCSS
$boardBorder: 1px;
// CSS
:root {
  --primaryColor: #213139;
  --secondaryColor: #f37121;
  --firstPlayer: #e63a30;
  --secondPlayer: #1154e2;
  --titleColor: #f1ede1;
  --white: #fff;
  --grey: #e2e2e2;
  --black: #000;
}
